language: scala
dist: trusty
sudo: true
group: beta
scala:
- 2.11.8
- 2.12.1
jdk:
- oraclejdk8
cache:
  directories:
  - "$HOME/.ivy2/cache"
before_cache:
- find $HOME/.ivy2/cache -name "ivydata-*.properties" -print0 | xargs -n10 -0 rm
notifications:
  slack:
    secure: e2qJtRrHD8Mb9GhZXXeVzfxwZjRgKBq1FUv825gXB+iRm1Vn2J+Ysk3Hv7xrANxo2A6JXkPMtZG8wyzcYDcKrRX7CxMYbytlrqI0+7v8VicdO8wDerplvROmWoYpKOFmxza0wz3ENL8IEo2pkD8baPWYty9a+GEIGwuyKsuqGNEKzW7JHtWZXdKE8gEQKneNxErtFclI4yQqHk0NHJu+8/+BViNQ1PzaRAIEOj690x2ls9x2joEIQzSUeMdNBbjc5Xi45dDPgjb5jYwwjLRqChSOrEDOdF6cPpSYFXENizVd85LaoES3iL+1J8lG7HBARCvtASn+5KiXwVUtPCoiabqE4jmTkhi124PLU17fnhJSboPn5G8FrjoCYPhzSOFzWAkwAIsGBKbL4pC+sqh/HFbh/k/YwyksBZIrWpu0BfgVpCxqaf/1fM5Yj12yth1QLrDz5dOSoeJN2jovKyD9UAJlhq+SOBKpYBE3g6TTcRPFqNxY0gSZPCXP25XTxExWX1ZV76zAjh8gJcTpBzpqyOAyuylrfRfSnS8TrM81xeh49XnJMqSDHsDBnjiWKyAp4xtVG1Rch4akNcfBPf7LKL4Ve2JM7rRWijw4cIRBX1VpZ4SRwafdNLi4xIZimtVnye+nk9K1DgwmItls78mACWOKIzGsPf+DI6NALmU2M/8=
