language: scala
scala:
- 2.11.8
jdk:
- oraclejdk8
cache:
  directories:
  - "$HOME/.ivy2/cache"
before_cache:
- rm -rf $HOME/.ivy2/cache/com.typesafe.play/*
- rm -rf $HOME/.ivy2/cache/scala_*/sbt_*/com.typesafe.play/*
- find $HOME/.ivy2/cache -name "ivydata-*.properties" -print0 | xargs -n10 -0 rm

# See https://blog.travis-ci.com/2014-03-13-slack-notifications/
# created with travis encrypt command line tool
notifications:
  slack:
    secure: 3BJCD1KtQdPw+Q/eg4wN4DYHHXvS8/YIdNA1xdwPREuCe6rn4khhTu3HcREI07rG3wfQhphy+f1bs+A3K2h9SGVoa4tslng7Bg2jFlf50pXFJZhhXcHQxCApxhj93TP54SQxRFtYLSOueJa6YRWnqxJMZpuMnGOU9cY3iuYbIaExTncjAZdkLsZbFaJtGhI2PqgIyEPEGo8CMZ1EQs2EP+vWKAS0rsKYQNHPd2hp7Z1cHzU0w8SNOFmkgy11J/NFe/Of3Bt67PfIMUnxA61hB/Xl5llqCkWmf5shntyAGCo8bxqWHlK+O8+ZU49EODl+kChJklcQ7btPB7vc3AXFpDllegDg4d8dWszwbo7yX3zEjr4iQtv2j5QW6euHMW9LBkBiLBuAg5vEB2ERQDsz888YL2djRtATuvwS77HSznmnmsENYTsOdm+mjm+x2R9k1uZ68+z3qBoLhsVpsxRakJBuwcJO8EE0NUTQOTm/ftgJ0NQpf7TWfByOqDCv/bZeZU/lK71NLKARJbe5bC2QW0oD5LjINITT+nd5UFmkirmy10EVFiNvF+GLKNfSk3pVQ2lUVKrF22qI9d+wR+Oy5aZBNxKK7tySKiT2XNbgNdNzmX66bV2ib+zm4A3Te5dvetNMIFy8kcU34LTe5NIbZt/efGagpo+1ijhLS6gBiKk=
