<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/application.log</file>
        <encoder>
            <pattern>%date [%level] from %logger in %thread - %message%n%xException</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%coloredLevel %logger{15} - [%marker] %message%n%xException{10}</pattern>
        </encoder>
    </appender>

    <logger name="play" level="INFO"/>

    <!-- actors logging -->
    <logger name="akka" level="DEBUG"/>

    <logger name="actors" level="DEBUG"/>

    <!-- controllers -->
    <logger name="controllers" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
