@()
@defining(play.core.PlayVersion.current) { version =>
<h3>Table of Contents</h3>
<ul>
  <li><a href="@routes.HomeController.index()#Introduction">Welcome</a>
  <li><a href="@routes.HomeController.explore()">Play application overview</a>
  <li><a href="@routes.HomeController.tutorial()">Implementing Hello World</a>
</ul>
<h3>Related Resources</h3>
<ul>
  <li><a href="https://playframework.com/documentation/@version" target="_blank">Play documentation</a></li>
  <li><a href="https://github.com/playframework/playframework/discussions" target="_blank">Forum</a></li>
  <li><a href="https://discord.gg/g5s2vtZ4Fa" target="_blank">Play Discord Server</a></li>
  <li><a href="https://stackoverflow.com/questions/tagged/playframework" target="_blank">Stackoverflow</a></li>
  <li><a href="https://www.playframework.com/sponsors" target="_blank">Sponsor Play</a></li>
</ul>
}
