@import play.mvc.Http.Request
@(widgets: Seq[Widget], form: Form[WidgetData])(implicit request: Request, messages: play.i18n.Messages)

@main("Widgets") {

    <h1>Widgets</h1>

    @* Flash shows updates to a page *@
    @request.flash.asScala().data.map { case (name, value) =>
    <div class="@name">@value</div>
    }

    <table class="table">
        <thead>
            <tr><th>Name</th><th>Price</th><th>Description</th></tr>
        </thead>
        <tbody>
        @for(w <- widgets) {
            <tr><td>@w.name</td><td>@w.price</td><td>@w.description</td></tr>
        }
        </tbody>
    </table>

    <hr/>

    @* Global errors are not tied to any particular form field *@
    @if(form.hasGlobalErrors) {
        @form.globalErrors.asScala.map { (error: play.data.validation.ValidationError) =>
            <div>
                @error.key: @error.message
            </div>
        }
    }

    @helper.form(action = routes.WidgetController.createWidget(), Symbol("class") -> "form", Symbol("id") -> "widget-form") {
        @helper.CSRF.formField

        @helper.inputText(
            form("name"),
            Symbol("_label") -> "Widget Name",
            Symbol("placeholder") -> "Enter your widget name...",
            Symbol("class") -> "modern-input"
        )

        @helper.inputText(form("price"), Symbol("_label") -> "Prices")

        @helper.textarea(form("description"), Symbol("_label") -> "Description")

        <button type="submit">Create widget</button>
    }

}
