@(computerForm: Form[Computer])

@import helper._

@import b3.vertical.fieldConstructor

@main {
    
    <h1>Add a computer</h1>
    
    @b3.form(routes.HomeController.save()) {
        
        <fieldset>
            @b3.text(computerForm("name"), '_label -> "Computer name", '_help -> "")
            @b3.date(computerForm("introduced"), '_label -> "Introduced date", '_help -> "")
            @b3.date(computerForm("discontinued"), '_label -> "Discontinued date", '_help -> "")

            @b3.select(
                computerForm("company.id"), 
                options(Company.options), 
                '_label -> "Company", '_default -> "-- Choose a company --",
                '_showConstraints -> false
            )
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this computer" class="btn primary"> or 
            <a href="@routes.HomeController.list()" class="btn">Cancel</a>
        </div>
        
    }
    
}