@()
<!DOCTYPE html>
<html>
<body>
<h1>Congratulations! You are reading the page!  This is the "default" page.</h1>

<p>
  The X.509 certificate the server sent you should be for "example.com".  You can go to <a href="https://one.example.com:9443/">one.example.com</a> or <a href="https://two.example.com:9443/">two.example.com</a> to see ServerNameIndication at work.
</p>

<p>
    You should look for the HTTPS indicator in the browser toolbar. If you don't find it:
</p>

<ul>
    <li>Generate the certificates and install as described in the README</li>
    <li>Set up the example.com domain in /etc/hosts as described in the README</li>
    <li>Run "./play run"</li>
</ul>

</body>
</html>

